<div class="modal-header">
  <h4 class="modal-title"><span *ngIf="_id else new">Update Category</span></h4>
    <ng-template #new>
        Add New Category
       </ng-template>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <form [formGroup]="myForm" id="ngForm"  (ngSubmit)="_id ? updateData(myForm.valid) : saveData(myForm.valid)" novalidate>

    <div class="col-12 col-md-12">
        
            <tc-form-group>
              <tc-form-label>Category Name <sup [tcColor]="'#e24d4d'">*</sup></tc-form-label>
        
              <tc-input [tcShape]="0" [size]="'sm'" formControlName="category_name"></tc-input>
        
              <tc-form-description
                [tcColor]="'#e24d4d'" 
                *ngIf="myForm.controls.category_name.touched && myForm.controls.category_name.invalid">
                Category Name is Required
              </tc-form-description>
            </tc-form-group>
        
            <tc-form-group>
              <tc-form-label>Status <sup [tcColor]="'#e24d4d'"></sup></tc-form-label>

              <tc-select [tcShape]="0" [size]="'sm'"  [options]="statusData" formControlName="status"></tc-select>
               
            </tc-form-group>
        
      
      </div>
    </form>
  
</div>
<div class="modal-footer">
    
    <button
    tc-button
    [type]="'button'"
    [view]="'warning'"
    (click)="resetForm()"
  >
    Reset
  </button>

  <button
    tc-button
    [view]="'accent'"
    [disabled]="myForm.invalid"
    [load]="loadingButton"
    form="ngForm"
  >
    Submit
  </button>

    <button tc-button [view]="'error'" (click)="activeModal.dismiss('Close clicked')">Close</button>
</div>