button {

    margin-right :5px }

    .table tr.active td {
        background-color:#123456 !important;
        color: white;
      }

      .table tr.active th {
        background-color:#123456 !important;
        color: white;
      }