<div class="row">
  <div class="col col-12 col-md-6 col-xl-3">
    <tc-card [tcBgColor]="'#fbfbfb'" class="animated fadeInUp delay-01s">
      <div class="row align-items-center">
        <div class="col col-5">
          <tc-icon
            [tcColor]="'rgba(51,108,251,0.5)'"
            [tcFontSize]="48"
            [iconClass]="'icofont-wheelchair'"
            [padding]="0"
          ></tc-icon>
        </div>

        <div class="col col-7">
          <h6 class="mt-0 mb-1">Patients</h6>
          <div class="count" [tcFontSize]="20" [tcColor]="'#336cfb'">{{total_patient}}</div>
        </div>
      </div>
    </tc-card>
  </div>

  <div class="col col-12 col-md-6 col-xl-3">
    <tc-card [tcBgColor]="'#fbfbfb'" class="animated fadeInUp delay-02s">
      <div class="row align-items-center">
        <div class="col col-5">
          <tc-icon
            [tcColor]="'rgba(51,108,251,0.5)'"
            [tcFontSize]="48"
            [iconClass]="'icofont-blood'"
            [padding]="0"
          ></tc-icon>
        </div>

        <div class="col col-7">
          <h6 class="mt-0 mb-1 nowrap">Indoor Bills</h6>
          <div class="count" [tcFontSize]="20" [tcColor]="'#336cfb'">{{indoor_bill}}</div>
        </div>
      </div>
    </tc-card>
  </div>

  <div class="col col-12 col-md-6 col-xl-3">
    <tc-card [tcBgColor]="'#fbfbfb'" class="animated fadeInUp delay-03s">
      <div class="row align-items-center">
        <div class="col col-5">
          <tc-icon
            [tcColor]="'rgba(51,108,251,0.5)'"
            [tcFontSize]="48"
            [iconClass]="'icofont-first-aid-alt'"
            [padding]="0"
          ></tc-icon>
        </div>

        <div class="col col-7">
          <h6 class="mt-0 mb-1">Outdoor Bills</h6>
          <div class="count" [tcFontSize]="20" [tcColor]="'#336cfb'">{{outdoor_bill}}</div>
        </div>
      </div>
    </tc-card>
  </div>

  <div class="col col-12 col-md-6 col-xl-3">
    <tc-card [tcBgColor]="'#fbfbfb'" class="animated fadeInUp delay-04s">
      <div class="row align-items-center">
        <div class="col col-5">
          <tc-icon
            [tcColor]="'rgba(51,108,251,0.5)'"
            [tcFontSize]="48"
            [iconClass]="'icofont-bed'"
            [padding]="0"
          ></tc-icon>
        </div>

        <div class="col col-7">
          <h6 class="mt-0 mb-1 nowrap">Active Indoor</h6>
          <div class="count" [tcFontSize]="20" [tcColor]="'#336cfb'">{{active_indoor}}</div>
        </div>
      </div>
    </tc-card>
  </div>
</div>

<div class="row">
  

  <div class="col col-12 col-md-4">
    <tc-card [title]="'Patients Age'">
      <div echarts [options]="paOptions" class="chat-container container-h-300"></div>
    </tc-card>
  </div>

  <div class="col col-12 col-md-4">
    <tc-card [title]="'Patients Gender'">
      <div echarts [options]="pgOptions" class="chat-container container-h-300"></div>
    </tc-card>
  </div>

  <div class="col col-12 col-md-4">
    <tc-card [title]="'Patients Bills'">
      <div echarts [options]="dOptions" class="chat-container container-h-300"></div>
    </tc-card>
  </div>
</div>